{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; border-radius:1rem; margin: 2rem;">

        <h3 class="log">Hello List!</h3>

        <form action="/account/hello/" method="POST">
            {% csrf_token %}
            <input type="text" name="hello_input">
            <input type="submit" class="btn btn-primary" value="post">
        </form>

        {% if hello_list %}
            {% for hello in hello_list %}
            <h6>{{hello.text}}</h6>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}